section.section.section_center.section_format
  .container
    h1.ttl.ttl_h2.center Формат обучения
    .content
      .stage
        .stage__item
          .stage__item-day 1 день
          .stage__item-title Убойная теория
          ul.stage__item-list
            li Огранизация рабочего места и инструменты
            li Набор новичка: как не накупить лишнего
            li Дезинфекция 
        button.btn.js-modal(type="button")
          span Записаться на обучение
section.section.section_center.section_teacher
  .container
    h1.ttl.ttl_h2 Курс ведет
    .content
      .author
        .author__avatar
          img(src="img/ava.png")
        h3.author__name Рина Кудряшова
        .author__info
          p Мастер-бровист с опытом более 1000 процедур, опытный администратор и организатор салонов красоты с опытом более 6 лет. Призёр международных чемпионатов среди <b>brow-мастеров</b>
      .instalenta лента из инстаграмма с самыми пиздатыми работами
section.section.section_center.section_reviews
  .container
    h1.ttl.ttl_h2 Отзывы
    .content
      p отзывы
section.section.section_center.section_price
  .container
    h1.ttl.ttl_h2 Какая стоимость
    .content
      .price
        span.price__item.price__item_old 15 000 
        span.price__item.price__item_real 13 000 рублей
      p Позвони и запишись на обучение,<br> а также узнай как можно сэкономить<br> до 30% по телефону
      h1.ttl.ttl_h1
        a(href="tel:+79615128172")
          span +7 (961) 512 - 8172
      button.btn.js-modal(type="button")
        span Записаться на обучение