section.section.section_features
  .content
    .features
      .features__list
      .features__item 
        p Группы 2-4 человека
      .features__item
        p 5 дней
      .features__item
        p 9 отработок на реальных людях
      .features__item
        p Домашние задания
    .information
    p Расходные материалы, модели (по желанию) и материалы для работы предоставляются на время обучения. В стоимость входит подарочный рабочий набор «пинцет+кисть»