.header
	background-color: rgba(255, 255, 255, 1)
	position: fixed
	width: 100%
	z-index: 100
	&__container
		padding: 2.7rem 4rem
		max-width: 100%
	&__logo
		display: inline-block
		vertical-align: middle
		text-align: left
	&__slogan
		display: block
		font-family: $ff
		font-size: 1.35rem
		padding: 5px 0
	&__caption
		display: block
		font-family: $ff2
		font-size: 3rem
		font-weight: bold
		line-height: 1.5
	&__nav
		display: inline-block
		vertical-align: middle
		max-width: 1160px
		margin: 0 auto
		text-align: left
		width: 100%
	&__right
		float: right
		text-align: right
	&__phone
		display: block
		color: #1a1a18
		font-size: 2.4rem
		font-weight: 700
		line-height: 1
		margin-bottom: 1.35rem
	&__callback
		background-color: #93c11c
		border: 0
		border-radius: 4px
		color: #ffffff
		font-size: 1.4rem
		font-weight: 700
		letter-spacing: .1rem
		padding: .75rem 1.75rem
		text-transform: uppercase
		&:hover
			background-color: #afda41
			color: #ffffff
		&:active
			background-color: #0c8d35

.logo
	border: 0
	display: inline-block
	vertical-align: middle
	width: 181px

@media (max-width: 1280px)
	.header
		&__container
			padding: 2.7rem 2rem
		&__nav
			margin-left: 5.4rem
			max-width: 720px